<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Lista de empresas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}" >
    <link rel="stylesheet" th:href="@{/css/css-footer.css}">
</head>
<body>

    <header th:replace="layout/plantilla :: header"></header>
    <section th:replace="layout/plantilla :: mainIndex"></section>

    <section>
        <div class="container">
            <div class="card">
                <h4 class="card-title">Lista de empresas</h4>
                <div class="card-body">
                    <div th:if="${empresas != null and !empresas.empty}">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Direccion</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Nit</th>
                                    <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                                    <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="empresa, contador : ${empresas}" th:if="${empresa.estado}">
                                    <td th:text="${contador.count}"></td>
                                    <td th:text="${empresa.nombre}"></td>
                                    <td th:text="${empresa.direccion}"></td>
                                    <td th:text="${empresa.telefono}"></td>
                                    <td th:text="${empresa.nit}"></td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/empresas/editar/} + ${empresa.idEmpresa}" class="btn btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </a></td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/empresas/eliminar/} + ${empresa.idEmpresa}" class="btn btn-secondary">
                                        <i class="fa fa-remove"></i>
                                    </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${empresas == null or empresas.empty}">
                        <span>No hay elementos en la lista</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4 m-4">
        <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="row">
                <div class="col-md-4">
                    <a th:href="@{/empresas/crear}" class="btn btn-primary btn-block">
                        <i class="fas fa-plus"></i>
                        <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="layout/plantilla :: footer"></footer>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>