<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos de la empresa</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}" >
    <link rel="stylesheet" th:href="@{/css/css-footer.css}">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <section th:replace="layout/plantilla :: mainIndex"></section>

    <section>
        <div class="container">
            <div class="card">
                <h4 class="card-title">Datos de usuario</h4>
                <div class="card-body">

                    <form id="customer-form" th:action="@{/empresas/guardar}" method="post" th:object="${empresa}">
                        <input type="hidden" name="idUsuario" th:field="*{idEmpresa}">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="nombre">Nombre </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="nombre" th:field="*{nombre}" placeholder="Nombre"/>
                            </div>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="direccion">Direccion </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="direccion" th:field="*{direccion}" placeholder="Direccion"/>
                            </div>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="telefono">Número Telefonico</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" th:field="*{telefono}" id="telefono" placeholder="Número Telefonico">
                            </div>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="nit">NIT</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" th:field="*{nit}" id="nit" placeholder="NIT">
                            </div>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('nit')}" th:errors="*{nit}"></div>
                        </div>

                        <div id="buttons" class="py-4 mb-4 bg-light">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a th:href="@{/empresas/listar}" class="btn btn-ligth btn-block">
                                            <i class="fas fa-arrow-left"></i> Cancelar
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-success btn-block">
                                            <i class="fas fa-check"></i> Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>

    <footer th:replace="layout/plantilla :: footer"></footer>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>